/.vscode
/Advanced
/Basics
/Database Diagram Tool.url
/Order of syntax.PNG
/postgres.session.sql
/SQL tutorial (beginner).url
/SQLiteViz_invoices_DB.url
/SQLiteViz_jobs_DB.url
/sql_course.session.sql
/creating_database/csv_files/