/.vscode
/Advanced
/Basics
/Database Diagram Tool.url
/Order of syntax.PNG
/postgres.session.sql
/SQL tutorial (beginner).url
/SQLiteViz_invoices_DB.url
/SQLiteViz_jobs_DB.url
/sql_course.session.sql
/creating_database/csv_files/company_dim.csv
/creating_database/csv_files/job_postings_fact.csv
/creating_database/csv_files/skills_dim.csv
/creating_database/csv_files/skills_job_dim.csv